.App {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #e8e8e8;
  width: 100vw;
  padding: 1rem;
}

@media (min-width: 600px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .App {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1300px) {
  .App {
    grid-template-columns: repeat(4 , 0fr);
  }
}

@media (min-width: 1600px) {
  .App {
    grid-template-columns: repeat(5 , 0fr);
  }
}
